---
- name: Run API container from GHCR image
  community.docker.docker_container:
    name: external-api
    image: "{{ api_image_name }}:{{ api_image_tag }}"
    pull: "{{ api_pull_on_deploy | bool }}"
    state: started
    restart_policy: always
    recreate: "{{ api_container_recreate | default(false) }}"
    env:
      COSS_API_BASE_URL: "{{ coss_api_base_url }}"
    published_ports:
      - "8080:8080"
